100 CURSOR DISCARDABLE "Pencil.cur"
101 CURSOR DISCARDABLE "Eraser.cur"
102 ICON DISCARDABLE "Paint.ico"
103 CURSOR DISCARDABLE "Select.cur"
104 CURSOR DISCARDABLE "Drag.cur"
105 CURSOR DISCARDABLE "hSize.cur"
106 CURSOR DISCARDABLE "vSize.cur"
107 CURSOR DISCARDABLE "ColorTester.cur"
